@using LibraryApp.Data
@using LibraryApp.Services
@using Microsoft.EntityFrameworkCore
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IUserService UserService

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LibraryApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <AuthorizeView Roles="user">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href=@($"borrowed-user")>
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Borrowed
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="borrowed">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Borrowed
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="users">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Users
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="search-books">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Search
            </NavLink>
        </div>
    </nav>
</div>

@* @* @code {
    private string? userName;
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        userName = user.Identity.Name;

        @* if (user.Identity != null && user.Identity.IsAuthenticated)
        {
            var userName = user.Identity.Name;
            var foundUser = await UserService.GetUserByNameAsync(userName);

            if (foundUser != null)
            {
                userId = foundUser.UserId;
            }
        } 
    }
}  *@
